.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #053e77; /* azul Material */
  color: white;
  padding: 8px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dialog-title {
  font-size: 18px;
  font-weight: 500;
}


.dialog-actions {
  display: flex;
  justify-content: flex-end; /* Alinea los botones a la derecha */
  gap: 10px; /* Espacio entre los botones */
  margin-top: 20px; /* Margen superior para separarlos del formulario */
  padding: 10px 0; /* Relleno vertical */
}
.mat-accent { /* Este selector apunta a los botones con color="accent" */
  background-color: #003366 !important; /* Fondo azul marino */
  color: white !important; /* Texto blanco */
  font-weight: bold; /* Opcional: para que el texto resalte más */
  padding: 8px 24px; /* Opcional: ajusta el relleno si es necesario */
}