h1 {
    padding: 0 1rem;
}

h2 {padding: 1rem;}

mat-toolbar{
    position:fixed;
    top:0;
    z-index: 2;
     background-color: #053e77; /* color primario de Angular Material */
}

mat-sidenav-container {
    height:100%;
}


mat-sidenav {
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
      padding-top: 4rem;
    }

 
 

    .entry{
        display: flex;
        align-items: center;
        gap: 1rem;
        padding:0.75rem;
    }
  }


mat-sidenav-content{
    padding-top: 3.5rem;
    @media screen and (min-width: 600px) {
        padding-top: 4rem;
    }
}

.expanded {
    width: 250px;   
}


.menu-icon {
  width: 24px;           /* Tamaño ancho */
  height: 24px;          /* Tamaño alto */
  object-fit: contain;   /* Para que no se distorsione */
  margin-right: 8px;     /* Espacio a la derecha si va junto a texto */
  vertical-align: middle;/* Alineación vertical con texto */
  cursor: pointer;       /* Icono con puntero */
}



.dgac-bg {
  background-color: #003366; /* fondo azul marino */
  color: white;              /* texto blanco para contraste */
}

.toolbar-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: 500;
}

/* Estilos para el elemento contenedor principal */
.usuario-info {
  /* Alinea el contenido (el texto) dentro del <a> a la derecha.
     Funciona porque <a> es un elemento en línea, pero muchos frameworks 
     lo tratan como bloque o le aplican display block. */
  text-align: left; 
  
  /* Asegura que ocupe todo el ancho disponible para que la alineación 
     a la derecha funcione correctamente, si no es ya un bloque. */
  display: block; 
  
  /* Esto reduce el tamaño de la fuente. 
     Puedes ajustar el valor (por ejemplo: 0.8em, small, 12px) */
  font-size: 0.7em; 
  
  /* Opcional: Empuja el elemento completamente a la derecha. 
     Usa esto si quieres que no ocupe todo el ancho. */
  /* margin-left: auto; */
}

/* Si necesitas enfocar el estilo en el texto "Usuario:..." */
.usuario-info .entry span {
  /* Si el texto no se ve bien, puedes asegurar que no se herede un tamaño grande */
  font-size: 0.9em; 
}