.dialog-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #053e77; /* azul Material */
  color: white;
  padding: 8px 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dialog-title {
  font-size: 18px;
  font-weight: 500;
}