<h2>
  <strong style="color: rgb(7, 7, 59)">Listado de Usuarios Registrados </strong>
</h2>
<br />
<div style="margin-bottom: 0.5rem; max-width: 200px; height: 4px">
  <mat-form-field appearance="fill">
    <mat-label>Buscar por Primer Apellido</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ej: López" />
  </mat-form-field>
</div>
<div style="margin-top: 1rem; text-align: right">
  <button
    class="btn-elegante"
    mat-raised-button
    color="primary"
    (click)="adicionarInspector()"
  >
    Adicionar Inspector
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;
  <button
    class="btn-elegante"
    mat-raised-button
    color="primary"
    (click)="guardar()"
  >
    Guardar
  </button>
  &nbsp;&nbsp;&nbsp;&nbsp;
</div>
<form [formGroup]="form">
  <table
    mat-table
    [dataSource]="dataSource"
    class="mat-elevation-z8"
    formArrayName="personas"
  >
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef>Nombre</th>
      <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
        <input matInput formControlName="nombre" />
      </td>
    </ng-container>

    <ng-container matColumnDef="primerApellido">
      <th mat-header-cell *matHeaderCellDef>Primer Apellido</th>
      <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
        <input matInput formControlName="primerApellido" />
      </td>
    </ng-container>

    <ng-container matColumnDef="segundoApellido">
      <th mat-header-cell *matHeaderCellDef>Segundo Apellido</th>
      <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
        <input matInput formControlName="segundoApellido" />
      </td>
    </ng-container>

    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef>Correo</th>
      <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
        <input matInput formControlName="correo" />
      </td>
    </ng-container>

    <ng-container matColumnDef="estadoRegistro">
      <th mat-header-cell *matHeaderCellDef>Estado</th>
      <td mat-cell *matCellDef="let row; let i = index" [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-select formControlName="estadoRegistro">
            <mat-option *ngFor="let est of estados" [value]="est">{{
              est
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnas"></tr>
    <tr mat-row *matRowDef="let row; columns: columnas"></tr>
  </table>
</form>
